.navstyle {
    height: 80px;
    background-color: #e5b56d;
    box-shadow: 10px 10px 100px 100px rgb(0 0 0);
}

.imgsize {
    height: 119px;
    position: relative;
    bottom: 22px;
}

.navhome {
    background-color: #83b440;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters{
    position: relative;
    right: 85px;
}

.createrecipe{
    color: #4c4c4c;
    height: 28px;
    border-color: white;
    position: relative;
    left: 256px;
    top: 1px;
    background-color: #f6b617;
    cursor: pointer;
}

.fsm{
    position: relative;
    top: 10px;
    background-color: #000000db;
    color: wheat;
    border-radius: 10px;
    margin: 4px;
    cursor: pointer;
}

.bg {
    background : url(https://wallpaperaccess.com/full/3086351.jpg);
    box-shadow: inset 0px -20px 1020px 10px rgb(0 0 0);

}

.loadimg {
    height: 307px;
    position: relative;
    top: 26px;
}

.loadh1{
    color: #006a0d;
    margin: 65px;
}

.loadh3{
    color: #62ff00;
    position: relative;
    bottom: 70px;
}

.rmflts{
    background-color: navajowhite;
    border-color: navajowhite;
    color: #4c4c4c;
    height: 18px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.creditos{
    margin: 0;
    padding: 6px;
    position: relative;
    bottom: 6px;
    color: #9b8463;
    position: relative;
    bottom: 0px;
    font-size: 10px;
}


  html {
    --scrollbarBG: #6e5945;
    --thumbBG: #e5b56d;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  
